@include responsive('mobile-portrait') {
	footer#footer {
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0;
		padding: 1rem 1.5rem;
		height: auto;

		.website,
		.social,
		.profile {
			h2 {
				font-size: 1.25rem;
			}
		}

		.profile {
			form {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;

				.profile__input {
					width: 100%;
				}
			}
		}
	}
}
