@media screen and (max-width: 776px) and (orientation: portrait) {
	body {
		footer {
			width: calc(100% - 2rem);
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0;
			padding: 0 1rem;
			height: auto;

			.website h2,
			.social h2,
			.newsletter h2 {
				font-size: 1.25rem;
			}
		}
	}
}
