@import './_footer_responsive.scss';

footer {
	/*Display stuff*/
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	/*Positioning stuff*/
	position: absolute;
	/*Box model stuff*/
	width: 100%;
	height: 200px;
	margin: 0;
	padding-top: 1rem;
	background-color: $color-secondary-light;
	/*Typography stuff*/
	color: $color-light;

	&>*>h2 {
		/*Box model stuff*/
		margin-bottom: -0.25rem;
		padding: 0 0.5rem;
		border-bottom: solid 1px $color-light;
		border-left: solid 1px $color-light;
		/*Typography stuff*/
		font-size: 1.5rem;
		font-weight: 500;
	}

	.website {
		/*Display stuff*/
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		ul {
			/*Box model stuff*/
			margin: 0;
			padding: 0;
			/*Miscellaneous*/
			list-style: none;

			li {
				/*Box model stuff*/
				margin: 0.5rem 0;

				&::before {
					/*Display stuff*/
					content: "";
					/*Box model stuff*/
					border-right: solid 1px $color-light;
				}

				a {
					/*Typography stuff*/
					font-size: 0.75rem;
					font-weight: 500;
					text-decoration: none;
					color: $color-light;
					/*Manipulations stuff*/
					transition: all 0.3s ease-in-out;

					&:hover {
						/*Typography stuff*/
						color: $color-secondary-dark;
						/*Manipulations stuff*/
						transform: scale(1.25);
					}
				}
			}
		}
	}

	.social {
		/*Display stuff*/
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h2 {
			/*Box model stuff*/
			margin-bottom: -0.25rem;
			/*Typography stuff*/
			font-size: 1.5rem;
			font-weight: 500;
		}

		ul {
			/*Display stuff*/
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			/*Box model stuff*/
			margin: 0;
			padding: 2rem 0;
			/*Miscellaneous*/
			gap: 1.5rem;
			list-style: none;

			li {
				/*Box model stuff*/
				margin: 0.5rem 0;

				a {
					/*Display stuff*/
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					/*Typography stuff*/
					font-size: 0.75rem;
					font-weight: 500;
					text-decoration: none;
					color: $color-light;
					/*Manipulations stuff*/
					transition: all 0.3s ease-in-out;

					&:hover {
						/*Typography stuff*/
						color: $color-secondary-dark;
						/*Manipulations stuff*/
						transform: scale(1.25);
					}

					img {
						/*Box model stuff*/
						width: 2rem;
						height: 2rem;
					}
				}

				&:last-child a img {
					/*Box model stuff*/
					width: 3rem;
				}
			}
		}
	}

	.profile {
		/*Display stuff*/
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h2 {
			/*Box model stuff*/
			margin-bottom: -0.25rem;
			/*Typography stuff*/
			font-size: 1.5rem;
			font-weight: 500;
		}

		p {
			/*Typography stuff*/
			font-size: 0.75rem;
			font-weight: 500;
			margin-top: 1rem;

			&.privacy__policy__link {
				/*Typography stuff*/
				font-size: 0.75rem;
				font-weight: 300;

				a {
					/*Typography stuff*/
					color: $color-secondary-dark;
				}
			}
		}

		.profile__input {
			/*Box model stuff*/
			margin: 1rem 0.5rem 0 0.5rem;
			padding: 0.5rem 1rem;
			border: none;
			border-radius: 0.5rem;
			/*Typography stuff*/
			font-size: 0.75rem;
			font-weight: 500;

			:focus {
				/*Box model stuff*/
				outline: blue auto 1px;
			}
		}

		.main__button {
			/*Box model stuff*/
			margin: 1rem 0.5rem 0 0.5rem;
			padding: 0.5rem 1rem;
			border: none;
			border-radius: 0.5rem;
			/*Typography stuff*/
			font-size: 0.75rem;
			font-weight: 500;
			text-decoration: none;
			color: $color-light;
			/*Manipulations stuff*/
			transition: all 0.3s ease-in-out;

			&:hover {
				/*Manipulations stuff*/
				transform: scale(1.25);
				filter: brightness(1.25);
			}

			&.change__status {
				background-color: $color-secondary-dark;
			}

			&.delete__profile {
				background-color: $color-danger;
			}
		}
	}
}
