@import './footer_responsive';

footer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	position: absolute;
	width: 100%;
	height: 200px;
	margin: 0;
	padding-top: 1rem;
	background-color: $color-secondary-light;
	color: $color-light;

	&>*>h2 {
		margin-bottom: -0.25rem;
		padding: 0 0.5rem;
		border-bottom: solid 1px $color-light;
		border-left: solid 1px $color-light;
		font-size: 1.5rem;
		font-weight: 500;
	}

	.website {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin: 0.5rem 0;

				&::before {
					content: "";
					border-right: solid 1px $color-light;
				}

				a {
					font-size: 0.75rem;
					font-weight: 500;
					text-decoration: none;
					color: $color-light;
					transition: all 0.3s ease-in-out;

					&:hover {
						color: $color-secondary-dark;
						transform: scale(1.25);
					}
				}
			}
		}
	}

	.social {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h2 {
			margin-bottom: -0.25rem;
			font-size: 1.5rem;
			font-weight: 500;
		}

		ul {
			/*Display stuff*/
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			/*Box model stuff*/
			margin: 0;
			padding: 2rem 0;
			/*Miscellaneous*/
			gap: 1.5rem;
			list-style: none;

			li {
				/*Box model stuff*/
				margin: 0.5rem 0;

				a {
					/*Display stuff*/
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					/*Typography stuff*/
					font-size: 0.75rem;
					font-weight: 500;
					text-decoration: none;
					color: $color-light;
					/*Manipulations stuff*/
					transition: all 0.3s ease-in-out;

					&:hover {
						/*Typography stuff*/
						color: $color-secondary-dark;
						/*Manipulations stuff*/
						transform: scale(1.25);
					}

					img {
						/*Box model stuff*/
						width: 2rem;
						height: 2rem;
					}
				}

				&:last-child a img {
					/*Box model stuff*/
					width: 3rem;
				}
			}
		}
	}

	.profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h2 {
			margin-bottom: -0.25rem;
			font-size: 1.5rem;
			font-weight: 500;
		}

		p {
			font-size: 0.75rem;
			font-weight: 500;
			margin-top: 1rem;

			&.privacy__policy__link {
				font-size: 0.75rem;
				font-weight: 300;

				a {
					color: $color-secondary-dark;
				}
			}
		}

		form {
			width: 100%;

			.profile__input {
				margin: 1rem 0.5rem 0 0.5rem;
				padding: 0.5rem 1rem;
				border: none;
				border-radius: 0.5rem;
				font-size: 0.75rem;
				font-weight: 500;
				width: 45%;
			}

			.main__button {
				margin: 1rem 0.5rem 0 0.5rem;
				font-size: 0.75rem;

				&.change__status {
					@include button__base($change-button-color, $change-button-background-color, $change-button-border-color);
				}

				&.delete__profile {
					@include button__base($delete-button-color, $delete-button-background-color, $delete-button-border-color);
				}
			}
		}
	}
}
