@import './_header_responsive.scss';

header {
	height: 4rem;
	-webkit-backdrop-filter: blur(15px) saturate(86%);
	backdrop-filter: blur(15px) saturate(86%);
	background-color: hsla(0, 0%, 100%, .2);
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0rem;
	gap: 1rem;
	position: fixed;
	top: 0;
	z-index: 100;

	.logo,
	.nav,
	.register {
		width: 33%;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	a {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: flex-end;
		padding: 7.5px 15px;
		margin: 5px;
		border-radius: 10px;
		text-decoration: none;
		color: $color-dark;
		transition: $default-transition;

		&:hover {
			background-color: hsla(0, 0%, 100%, 0.39);
			color: $color-dark;
			border-radius: 10rem;
		}

		&.active {
			background-color: $color-primary;
			color: $color-dark;
			border-radius: 10rem;
		}

		img {
			width: 50px;
			height: 50px;
			border-radius: 100%;
		}
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: center;

		ul {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			border-radius: 10rem;
			-webkit-backdrop-filter: blur(15px) saturate(86%);
			backdrop-filter: blur(15px) saturate(86%);
			background-color: hsla(0, 0%, 100%, .25);
			gap: 0.5rem;
			margin: 0;
			padding: 0;

			li {
				display: flex;
				align-items: center;
				justify-content: center;
				list-style: none;

				&.responsive__register {
					display: none;
				}

				a i {
					margin-right: 0.75rem;
					margin-top: auto;
					margin-bottom: auto;
				}

				.dark-mode-toggler {
					margin-right: 0.75rem;
					margin-top: auto;
					margin-bottom: auto;
				}
			}
		}
	}


	.register,
	.responsive__register {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		button {
			margin-right: 2rem;
			padding: 0.5rem 1rem;
			border-radius: 1rem;
			border: none;
			background-color: $color-dark;
			color: $color-light;
			transition: $default-transition;

			&:hover {
				transform: scale(1.1);
				background-color: $color-dark-2;
			}
		}
	}

	.responsive__menu {
		display: none;
		cursor: pointer;

		img {
			width: 30px;
			height: 30px;
			margin: 1rem;
			filter: invert(1);
		}
	}
}
