/*----------------------------
|	Animations
-----------------------------*/
/* We create an animation opening the menu from top right to full screen */
@keyframes openMenu {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes closeMenu {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-100%);
	}
}
