@import './contact_form_responsive.scss';

.contact__form {
	align-items: center;
	backdrop-filter: blur(10px);
	background-color: rgb(252, 251, 254);
	border-radius: 34px;
	box-shadow: 0 11px 34px 0 rgba(0, 0, 0, .2);
	display: flex;
	flex-direction: column;
	height: 610px;
	justify-content: space-between;
	margin: 1rem 0;
	padding: 0;
	transition: all 0.3s ease-in-out;
	width: 640px;

	.header {
		background-color: $color-secondary-light;
		border-bottom: none;
		border-radius: 1rem 1rem 0 0;
		height: 91px;
		position: relative;
		width: 100%;

		.logo {
			img {
				border-radius: 50%;
				margin: 20px;
				width: 50px;
			}
		}

		.title {
			height: 100%;
			left: 0;
			margin: auto;
			padding: 0;
			position: absolute;
			top: calc(50% - 0.75rem);
			width: 100%;

			h1 {
				color: $color-light;
				font-size: 2rem;
				font-weight: 600;
				margin: 0;
				padding: 0;
				text-align: center;
			}
		}
	}

	form {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: calc(100% - 218px);
		justify-content: flex-start;
		margin: 0;
		padding: 2rem 0;
		width: 100%;

		.input__container {
			position: relative;
			width: 60%;
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;

			label {
				display: none;
			}

			input {
				height: 50px;
				border-bottom: none !important;
			}

			textarea {
				padding: 1rem 0;
				border-radius: 0 0 1rem 1rem;
			}

			input,
			textarea {
				align-items: center;
				background-color: transparent;
				border: solid 0.5px $color-dark-2;
				display: flex;
				flex-direction: column;
				font-size: 1rem;
				justify-content: center;
				line-height: 1.5rem;
				margin: 0;
				padding-left: 1rem;
				width: 100%;

				&:focus {
					border: solid 1px $color-secondary-dark;
					outline: none;
				}

				&:valid+span,
				&:focus+span {
					color: $color-secondary;
					transform: translateY(-0.9rem) scale(0.5) translateX(-1.5rem);
				}
			}

			span {
				position: absolute;
				top: 1rem;
				color: $color-dark;
				font-size: 1rem;
				left: 0.5rem;
				transition: all 0.3s ease-in-out;
				z-index: -1;
			}

			&:nth-child(1) input {
				border-radius: 1rem 1rem 0 0;
			}

			&:nth-child(2) input,
			&:nth-child(3) input {
				border-radius: 0;
			}
		}
	}

	.bottom {
		align-items: center;
		background-color: $color-secondary-light;
		border-radius: 0 0 1rem 1rem;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		height: 63px;
		justify-content: flex-end;
		padding: 0 2rem;
		width: 100%;

		.cancel__button {
			@include button__base($cancel-button-color, $cancel-button-background-color, $cancel-button-border-color);
			border: none;
			font-size: 1rem;
			font-weight: 500;
			outline: none;
			background-image: linear-gradient(white, rgba(255, 255, 255, 0));

			&:hover {
				background-image: linear-gradient(180deg, white, rgba(255, 255, 255, 0));
				color: $color-secondary-dark;
			}
		}

		.main__button {
			@include button__base($confirm-button-color, $confirm-button-background-color, $confirm-button-border-color);
		}
	}
}
