@import './_contact_responsive.scss';

#contact__container {
	align-items: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	max-width: 3440px;
	min-height: calc(100vh - 16.5rem);
	width: 100%;
}
